<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="<%= basePath %>/main.css">
</head>
<body>
<header>
  <h1>About</h1>
  <nav>
    <a href="<%= basePath %>/">Home</a>
    <% if (isLoggedIn) { %><a href="<%= basePath %>/logout">Logout</a><% } %>
  </nav>
</header>

<div class="container">
  <p>Welcome to Sara's GP booking system. Here you will be able to view, book, or cancel appointments .</p>
  <h3>LOCATION</h3>
  <p> 12 Goldsmiths Road
    Lewisham Way
    London
    SE16 6NW
  </p>
</div>
</body>
</html>
